@font-face {
    font-family: "Apax-Regular";
    src: url("/font/Apax Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Apax-Bold" ;
    src: url("/font/Apax-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Apax" ;
    src: url("/font/Apax-Light.woff2") format("woff2");
}

@font-face {
    font-family:"Apax-Lightitalic" ;
    src: url("/font/Apax-Lightitalic.woff2") format("woff2");
}

/* @font-face {
    font-family:Apax-Superbold ;
    src: url(public/font/Apax-Superbold.woff2) format(woff2);
} */

@font-face {
    font-family: "Apax-Thin";
    src: url("/font/Apax-thin.woff2") format("woff2");
}

h1 {
    font-family: Apax-light;
    font-style: normal;
    font-size: 4rem;
    font-weight: 300;
}

h2 {

    font-family: Apax;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2.625rem;
}

a {
    font-family: Apax;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.02056rem; 
    letter-spacing: 0.01275rem;

}

h4 {
    font-family: Apax;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
}

h3 {
    font-family: Apax-bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 300;
    line-height: 2rem;
}

body {
    font-family: Apax;
}
p {
    font-family: Apax;

    font-style: normal;
    font-weight: 300;
    line-height: 1.3rem;;
    max-width: 800px;
}


   
footer {
    height: 50%;
    background-color:“#EB37AC ;
} 

.footer-social a {
    margin-left: 1rem;
    display: inline-block;
  }

  .count {
    font-size: 60px;
    font-weight: 400;
  }

  .count-unit {
    font-size: 50px;
    font-weight: 300;
    text-transform: uppercase;
  }